{% extends 'DimosoApp/base.html' %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!--jquery code for autocomplete javascriptcode---->
<script src="{% static 'DimosoApp/assets/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'DimosoApp/assets/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>

    <style>
    

    </style>
</head>

<body>












<h2>Accordion Example</h2>
<div id="panels">

    <div>Telesko Learning</div>
    <div>gfgfgfgfg fdffd kjjs ggggd 
    hhhhccgcg kkyhh slsdfdgdib sddsd</div>


</div>


<script>
    $('#panels').accordion({
        collapsible:true
    });
</script>



   <!--jquery code for autocomplete javascriptcode---->
<script src="{% static 'DimosoApp/assets/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'DimosoApp/assets/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>
    </body>
</html>
{% endblock %}